{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
        <a href="{% url 'login' %}" class="header__logo">
            <img src="{% static 'images/logo.svg' %} " alt="Logo" />
        </a>

        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>



            <ul class="header__menu">
                <li class="header__menuItem">     </li>

            </ul>



            {% if request.user.is_authenticated %}
            <span style="color: #e7e7fa; font-size: 20px;" > Welcome <b style="color:#f4f2de;">{{request.user}} !</b> &emsp;</span>
                    <a href="{% url 'logout' %}" class="btn btn--sub" style="height: 35px; padding: .5rem;">
                        Logout
                    </a>
            {% endif %}
        </nav>
    </div>
</header>